@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@200;300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Truculenta', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background-color: #CFB8A7;
    margin: 30px calc(-50px + 20%);

   
    

}
body input::placeholder {
    padding-left: 5px;

}
#title, #description {
    
   text-align: center;
   margin: 0px 0px 15px 0px;
   color:#4b3423;
}

form > label {
    display: flex;
    flex-direction: column;
    width: calc(100px + 40%);

   
}

p {
    font-size:20px;
}

.gender-section {
    width: calc(100px + 40%);
}

.gender-section  > select {
    width: 100%;
}


input[type=checkbox]
{

  transform: scale(1.5);

}

input[type=radio] {
    transform: scale(1.5);
}

body > form {
    border: 1px solid;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    background-color:#90623F;
    padding: 40px;
    color: #FFFFFF;
}

body > form * {
    padding: 0px 0px 5px 0;
    
}

.form-group label > * {
    margin: 0 10px;

}

.form-group {
    display: flex;
    flex-direction: column;
}

.input-textareat {
    width: calc(100px + 40%);
    resize: none;
    padding-left: 5px;
    font-size: 15px;
}

form > label > input {
    height: 40px;
    font-size: 15px;
}

.gender-section > select {
    height: 40px;
    font-size: 15px;
    }


.form-group select{
    width: calc(100px + 40%);
    height: 40px;
    font-size: 15px
}


#submit {
    height: 40px;
    width: calc(100px + 40%);
    align-self: center;
    margin: 20px;
    background-color:rgb(129, 202, 225);
    font-size: 17px;
}